#briefDescription {
    padding-left: 5%;
    color: #f0d2b3;

}

#briefDescription h2 {
}

#appJamStream {
    width: 100%;
    height: 100px;
}

#aboutText {
    max-width:1200px;
    margin: auto;
    color: #fff;
    background: rgba(0, 61, 103, 0.75);
}

.navbar-custom {
    font-weight: 700;
    font-size: 0.8rem;
    font-family: "tablet-gothic","Helvetica Neue",Helvetica,Arial,sans-serif;
}


@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

#customNav a:hover{
    color: #dff0d8;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }

    .html {
        font-size: 19px;
    }
}

.card {
    position: relative;
    display: inline-block;
    margin-bottom: .75rem;
    background-color: #333;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width:100%;
}


.card h3, .card h4 {
    color: #fff;
}

.card-block::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-family: "tablet-gothic","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

.post-preview .post-title {
    margin-top: 0;
    margin-bottom: 5px;
}

html {
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 17px;
}



.navbar.navbar-default {
    background-color: #333;
    font-weight: bold;
}


body {
    position: relative;
    font-kerning: normal;
    font-feature-settings: 'kern';
    -webkit-font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern=1';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "tablet-gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-heading, .header-page {
    text-align: center;
}

#aboutIcons {
    max-width: 320px;
    /*background: rgba(0, 61, 103, 0.75);*/
    color: #ffffff;
}

#aboutIcons i {
    font-size: 1.5rem}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #briefDescription h2 {
        font-size: 50px;
    }
    #briefDescription {
        padding-top: 10%;
    }
    #aboutText p {
        font-size: 16px;
    }
    #aboutText h4 {
        font-size: 24px;
    }
    #aboutIcons {

    }
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 992px) {
    #aboutText p {
        font-size: 18px;
    }
    #aboutText h4 {
        font-size: 28px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #aboutText p {
        font-size: 1rem;
    }
    #aboutText h4 {
        font-size: 36px;
    }


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


