#briefDescription {
    padding-left: 5%;
    color: #f0d2b3;

}

#briefDescription h2 {
}

#appJamStream {
    width: 100%;
    height: 100px;
}

#aboutText {
    max-width:1200px;
    margin: auto;
    color: #000000;
    padding-top: 3%;
}

.navbar-custom {
    font-weight: 700;
    font-size: 0.8rem;
    font-family: "tablet-gothic","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-custom .avatar-container {
    position: absolute;
    left: 50%;
    margin-top: 9px;
    width: 75px;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.navbar-custom .avatar-container .avatar-img-border {
    display: inline-block;
    margin-left: -50%;
    width: 100%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}


#customNav a:hover{
    color: #dff0d8;
}

.cardContainer {
    margin-top: 15px;
}

.navbar-default .navbar-nav > .active{
    color: #000;
    background: #d65c14;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #d65c14;
}

.navbar-nav a {
    color:#ccc !important;
}

.navbar-header a {
    color:#eee !important;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }

    .html {
        font-size: 19px;
    }
}

#aboutIcons a i {
    padding-left: 0px;

}

.img-circle {
    border-radius: 50%;
}

.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #333;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width:100%;
}


.card h3 {
    color: #fff;
}

.card h4 {
    color: #9d9d9d;
}

a:hover {
    color: #d65c14 !important;
}

a:hover h4 {
    text-underline: none;
}

.card-block {
    margin-left: 10px;
    margin-top: 5px;
}

.card-block::after {
    content: "";
    display: table;
    clear: both;

}



img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-family: "tablet-gothic","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

.post-preview .post-title {
    margin-top: 0;
    margin-bottom: 5px;
}

html {
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 17px;
}



.navbar.navbar-default {
    background-color: #333;
    font-weight: bold;
}


body {
    position: relative;
    font-kerning: normal;
    font-feature-settings: 'kern';
    -webkit-font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern=1';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "tablet-gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-heading, .header-page {
    text-align: center;
}

#aboutIcons {
    max-width: 320px;
    /*background: rgba(0, 61, 103, 0.75);*/
    color: #ffffff;
    padding-top: 15%;
}

#aboutIcons i {
    font-size: 1.5rem}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #briefDescription h2 {
        font-size: 50px;
    }
    #briefDescription {
        padding-top: 10%;
    }
    #aboutText p {
        font-size: 16px;
    }
    #aboutText h4 {
        font-size: 24px;
    }
    #aboutIcons {
        padding-top:5%

    }
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 992px) {
    #aboutText p {
        font-size: 18px;
    }
    #aboutText h4 {
        font-size: 28px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #aboutText p {
        font-size: 20px;
    }
    #aboutText h4 {
        font-size: 36px;
    }


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


